In [5]:
"""this is a comment 
this is my first line comment
this is my second line comment"""

print('this is a ...')

this is a ...

### this is a headline

In [20]:
def power(n):
    """this is a power function
    this is second line of this function"""
    return n*n

In [21]:
power(5)

25

In [10]:
x = str(5)

In [11]:
type(x)

str

In [12]:
x = 5

In [16]:
y = 6

In [17]:
x = x + y

In [18]:
print(x)

11

In [32]:
x = str(5.7)

In [33]:
type(x)

str

In [36]:
print(x[1])

.

In [37]:
name = 'Abbas'

In [39]:
print(name[1:3])

bb

In [61]:
list = ['abbas', 'john']

In [43]:
list[0][1:3]

'bb'

In [49]:
sadfa4sdf_4 = ('abbas', 3,4)

In [50]:
sadfa4sdf_4[1]

3

In [55]:
list

('abbas', 'john')

In [56]:
list[0] ='Matis'

TypeError: 'tuple' object does not support item assignment

In [74]:
name = 'abbas'

In [75]:
name

'abbas'

In [64]:
t = ('abbas', 'matis')

In [65]:
l = ['abbas', 'matis']

In [70]:
name[2]

't'

In [71]:
l[0][2]

'b'

In [72]:
name = 'Matis'

In [96]:
print( "Hello,\n")
print('\nabbas\n')
print (r" this is "World"")
print (r"\nPython is " "so cool.")

SyntaxError: invalid syntax (<ipython-input-96-d83cfd9def39>, line 3)

In [95]:
print ("Python is" + '' + "so cool.")

Python isso cool.

In [98]:
print('i am \"abbas\"')

i am "abbas"

In [99]:
mylist = [42, 'apple', 'unicode apple', 5234656]
print (mylist)
mylist[2] = 'banana'
print (mylist)
mylist[3] = [['item1', 'item2'], ['item3', 'item4']]
print (mylist)
print (mylist.pop())
mynewlist = [x*2 for x in range(0,5)]
print (mynewlist)

[42, 'apple', 'unicode apple', 5234656]
[42, 'apple', 'banana', 5234656]
[42, 'apple', 'banana', [['item1', 'item2'], ['item3', 'item4']]]
[['item1', 'item2'], ['item3', 'item4']]
[0, 2, 4, 6, 8]

In [100]:
[]

[]

In [112]:
mylist = ["spam", "eggs", "toast"] # List of strings!

In [104]:
"spam" in mylist

True

In [108]:
len(mylist[0])

4

In [111]:
name = 'Matis'
name*5

'MatisMatisMatisMatisMatis'

In [107]:
len(name)

5

In [110]:
mylist.index('toast')

2

In [115]:
min(mylist)

'eggs'

In [117]:
max(mylist)

'toast'

In [118]:
max('abbas')

's'

In [121]:
max('matis') # aimst

't'

In [122]:
l = [4, 2,6]

In [123]:
min(l)

2

In [124]:
max(l)

6

In [125]:
name = 'abbas'

In [126]:
name.count('b')

2

In [128]:
name.count('s')

1

In [129]:
mylist

['spam', 'eggs', 'toast']

In [130]:
del mylist[1]

In [131]:
mylist

['spam', 'toast']

In [146]:
l = [2, 3 ,1, 5, 9]
l

[2, 3, 1, 5, 9]

In [144]:
del l[1:2:2]

In [145]:
l

[2, 9]

In [147]:
l

[2, 3, 1, 5, 9]

In [150]:
l.append('4')

In [151]:
l

[2, 3, 1, 5, 9, 4, '4']

In [152]:
l.reverse()

In [153]:
l

['4', 4, 9, 5, 1, 3, 2]

In [155]:
l.remove('4')

In [157]:
l.sort()

In [158]:
l

[1, 2, 3, 4, 5, 9]

In [159]:
a = set('abracadabra')
b = set('alacazam')

In [160]:
print(a , '   ', b)

{'r', 'c', 'd', 'a', 'b'}     {'c', 'm', 'z', 'l', 'a'}

In [161]:
a-b

{'b', 'd', 'r'}

In [162]:
b-a

{'l', 'm', 'z'}

In [163]:
a|b

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [166]:
l1 = set(['abbas', 'Matis', 'chaim'])
l2 = set(['Majeed', 'chaim'])

In [167]:
l1|l2

{'Majeed', 'Matis', 'abbas', 'chaim'}

In [168]:
l1-l2

{'Matis', 'abbas'}

In [171]:
gradebook = dict() 
gradebook['Susan Student'] = 88.0

In [172]:
gradebook

{'Susan Student': 88.0}

In [177]:
dictionary = dict()
dictinary = {}
myset = set()
mylist = []
mytuple = ()
mystring = ''

In [175]:
{3, 4, 5}

{3, 4, 5}

In [176]:
{2:4 , 5:6}

{2: 4, 5: 6}

In [178]:
gradebook['Tina Tenderfoot'] = [99.9, 95.7]

In [179]:
gradebook

{'Susan Student': 88.0, 'Tina Tenderfoot': [99.9, 95.7]}

In [182]:
gradebook['name'] = 'Matis'

In [183]:
gradebook

{'Susan Student': 88.0, 'Tina Tenderfoot': [99.9, 95.7], 'name': 'Matis'}

In [185]:
gradebook.keys()

dict_keys(['Susan Student', 'Tina Tenderfoot', 'name'])

In [186]:
gradebook.values()

dict_values([88.0, [99.9, 95.7], 'Matis'])

In [194]:
i = 1
while i < 10:
    print (i)
    i = i + 2
print ('i is: ', i)

1
3
5
7
9
i is:  11

In [10]:
i = 1
flag = True
while flag and i < 12:
    print (flag, i)
    i = i + 1
    
    if i == 5:
        flag = False

True 1
True 2
True 3
True 4

In [3]:
i = 1
while i < 8 :
    print (i)
    i +=1 # i = i+1
print ('the i value out of the loop: ', i)

1
2
3
4
5
6
7
the i value out of the loop:  8

In [21]:
a = 1
b = 0
c = 2
if a > b:
    if a > c:
        print ("a is greatest")
               
    else:
        print ("c is greatest")
elif b > c:
        print ("b is greatest")
else:
    print ("c is greatest")

c is greatest

In [36]:
for l in "aeiou":
    print ("vowel: ", l)
for i in [1,2,3]:
    print (f'i now {i} is: ', i, '\n')
for j in range(15,18):
    print (f'{j} is: ', j)

vowel:  a
vowel:  e
vowel:  i
vowel:  o
vowel:  u
i now 1 is:  1

i now 2 is:  2

i now 3 is:  3

15 is:  15
16 is:  16
17 is:  17

In [32]:
range(3,8)

range(3, 8)

In [38]:
s.index(x[, i[, j]])

SyntaxError: invalid syntax (<ipython-input-38-6ce908768589>, line 1)

In [ ]:
{2 ,3 ,6}
{},{2}
0?01?

In [43]:
s = ['hi', 'there', 'python', 'user', 'python', 'is', 'so', 'much', 'python', 'fun']

In [46]:
s.index('python', 1, 5)

2

In [55]:
i = 0 
while i > 5:
    print(i)
    i += 1

In [57]:
for i in {2:4, 4:6}:
       print(i)

2
4

In [58]:
for item in range(3, 7):
    print(item*item)

9
16
25
36

In [166]:
for num in range(10,20):
    if num%2 == 0:
        continue
    for i in range(3,num):
        if num%i == 0: 
            break
        else: 
            print (num, 'is a prime number’)

SyntaxError: EOL while scanning string literal (<ipython-input-166-bef797e72844>, line 8)

In [78]:
for num in range (10,20):
    print('--->',num)
    if num%2 == 0:
           continue
    for i in range(3,num):
        if num%i == 0: 
            print('iner loop',i)

---> 10
---> 11
---> 12
---> 13
---> 14
---> 15
iner loop 3
iner loop 5
---> 16
---> 17
---> 18
---> 19

In [71]:
i=10
num = 15
for i in range(3,num):
        if num%i == 0: 
            print(i)

3
5

In [ ]:
11%3 --> 2
11%5
...
11%10

In [70]:
12%3

0

In [76]:
15%6

3

In [77]:
for num in range(1,6):
    print('lets try',num)
    if num%2 == 0:
        print('not good',num,'is divisable by 2')
        continue
        print('not divisable by 2')
    for i in range(3,num):
        print('not divisable by',i)
        if num%i == 0:
            print('not good',num,'is divisable by',i)
            break
    else:
        print (num, 'is a prime number\n')

lets try 1
1 is a prime number

lets try 2
not good 2 is divisable by 2
lets try 3
3 is a prime number

lets try 4
not good 4 is divisable by 2
lets try 5
not divisable by 3
not divisable by 4
5 is a prime number

In [80]:
# Chaim Yosef Glancz  5:55 PM
for num in range(1,6):
    if num < 3:
        print(num,'small')
        continue
    if num < 6:
        print(num,'big')
    else:
        break
print('done')

1 small
2 small
3 big
4 big
5 big
done

In [85]:
for num in range(1,6):
    if num < 4:
        print(num)
        continue

1
2
3

In [86]:
f1 = 3
f2 = 4
f1, f2 = f2, f1 + f2

In [87]:
print(f1,f2)

4 7

In [89]:
f2 = f1+f2
f1 = f2

In [90]:
for i in range(0, 5):
    print(i)

0
1
2
3
4

In [92]:
def print_num(n):
    for i in range(0, n):
        print(i)

In [94]:
print_num(10)

0
1
2
3
4
5
6
7
8
9

In [101]:
# write a function to cal power of a given number
def power(n):
    print(n*n)
    return n*n
result = power(4) # 16

16

In [102]:
print(result)

16

In [ ]:
def sum_all_num(n):
    
    return

In [ ]:
sum_all_num(n) # 1+2+3+4+5

In [103]:
def sum_all_num(n):
    sm = 0
    for i in range(n+1):
        sm += i
    return sm
print(sum_all_num(5))

15

In [105]:
def sum_all_num(n):
    sum = 0
    for i in range(1,n+1):
        sum +=i
    return sum

In [106]:
sum_all_num(10)

55

In [110]:
def mult_num(n,m): # n*m
    return n**m

In [111]:
mult_num(3,4)

81

In [114]:
def power_num(m,n):# 2^3 =8
    for i in range(n):
        m = m*m
    return n

In [115]:
power_num(2,3)

3

In [118]:
def power_num_2(m,n):
    sm = 1
    for i in range(n):
        sm *= m
    return sm
power_num(2,3)

3

In [121]:
def power_num_2(m,n):
    sm = 1
    for i in range(1,n+1):
        sm *= m
    return sm, n

power_num_2(2,3)

(8, 3)

In [132]:
def hello_func(names): 
    for n in names: 
        print ("Hello,", n, "!" )
    names[0] = 'Susie'
    names[1] = 'Pete'
    names[2] = 'Will' 
names = ['Susan', 'Peter', 'William'] 

hello_func(names) 
print ("The names are now", names, ".")

Hello, Susan !
Hello, Peter !
Hello, William !
The names are now ['Susie', 'Pete', 'Will'] .

In [133]:
input()

 45

'45'

In [138]:
x = input()

 10

In [137]:
int(x) * 4

180

In [139]:
def power(n):
    return n*n

In [142]:
number = input("please enter a number to be powered:") 
power(int(number))

please enter a number to be powered: 5

25

In [143]:
list = [5, 2,10,6]

In [144]:
min(list)

10

In [145]:
set()
[]
()
{}
''

def name(var1,var2, var3) :
    return var1, var2, var3

In [147]:
x, y, z = name(2,3,4)

2 3 4

In [158]:
list = [2 ,5 ,3, 8, 3]

In [161]:
list.sort(reverse=True) # index

In [162]:
list

[8, 5, 3, 3, 2]

In [165]:
if 10%2==1:
    print('dsafasdf')

In [ ]:
x=5
x = 5

In [ ]:
list = [3 ,5 ,6 ,9, 7]
num = 9

sum_func(list, num)  # (3,6)

In [4]:
lst = [2,3,6,4,8,9,3,7,5]
[(i, 9 - i) for i in range(9) if i in lst and 9 - i in lst]
lst[:lst.index(8)+1]

[2, 3, 6, 4, 8]

In [6]:
sum(lst)

47