<!DOCTYPE html>
<html>
<body>
<div align="center">
<h3>Prepared by Asif Bhat</h3>
    
<h1>Pandas - Series & Dataframes</h1>

<h3>Follow Me on - <a href="https://www.linkedin.com/in/asif-bhat/">LinkedIn</a>&nbsp; <a href="https://mobile.twitter.com/_asifbhat_">Twitter</a>&nbsp; <a href="https://www.instagram.com/datasciencescoop/?hl=en">Instagram</a>&nbsp; <a href="https://www.facebook.com/datasciencescoop/">Facebook</a></h3>
</div>
</body>
</html>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import glob
import re
import math

In [2]:
!pip install numpy

Requirement already satisfied: numpy in /Users/Optimus/opt/anaconda3/envs/env1/lib/python3.7/site-packages (1.18.2)

# Merge Dataframes

In [3]:
daf1 =  pd.DataFrame ({'id': ['1', '2', '3', '4', '5'], 'Name': ['Asif', 'Basit', 'Bran', 'John', 'David']})
daf1

  id   Name
0  1   Asif
1  2  Basit
2  3   Bran
3  4   John
4  5  David

In [4]:
daf2 =  pd.DataFrame ({'id': ['1', '2', '6', '7', '8'], 'Score': [40 , 60 , 80 , 90 , 70]})
daf2

  id  Score
0  1     40
1  2     60
2  6     80
3  7     90
4  8     70

In [5]:
# Inner Join
pd.merge(daf1, daf2, on='id', how='inner')

  id   Name  Score
0  1   Asif     40
1  2  Basit     60

In [6]:
# Full Outer Join
pd.merge(daf1, daf2, on='id', how='outer')

  id   Name  Score
0  1   Asif   40.0
1  2  Basit   60.0
2  3   Bran    NaN
3  4   John    NaN
4  5  David    NaN
5  6    NaN   80.0
6  7    NaN   90.0
7  8    NaN   70.0

In [7]:
# Left Outer Join
pd.merge(daf1, daf2, on='id', how='left')

  id   Name  Score
0  1   Asif   40.0
1  2  Basit   60.0
2  3   Bran    NaN
3  4   John    NaN
4  5  David    NaN

In [8]:
#Right Outer Join
pd.merge(daf1, daf2, on='id', how='right')

  id   Name  Score
0  1   Asif     40
1  2  Basit     60
2  6    NaN     80
3  7    NaN     90
4  8    NaN     70

# Importing multiple CSV files in DataFrame

In [9]:
# Append all CSV files 
path =r'C:\Users\DELL\Documents\GitHub\Public\COVID-19\csse_covid_19_data\csse_covid_19_daily_reports'
filenames = glob.glob(path + "/*.csv")
covid = pd.DataFrame()
for f in filenames:
    df = pd.read_csv(f)
    covid = covid.append(df,ignore_index=True,sort=True)

In [10]:
# Top 10 rows of the Dataframe
covid.head(10)

Empty DataFrame
Columns: []
Index: []

In [11]:
# Bottom 10 rows of the Dataframe
covid.tail(10)

Empty DataFrame
Columns: []
Index: []

In [12]:
# Reading columns
covid['Country/Region'].head(10)

KeyError: 'Country/Region'

In [ ]:
# Reading columns
df1 = covid[['Country/Region' ,'Province/State','Confirmed' , 'Last Update']]
df1.head(10)

In [ ]:
#Read specific rows 
df1.iloc[1:4]

In [ ]:
#Filter data 
df1.loc[df1['Country/Region']== 'India']

In [ ]:
#Sort Data Frame
display('Sorted Data Frame', df1.sort_values(['Country/Region'], ascending=True).head(5))

In [ ]:
#Sort Data Frame
display('Sorted Data Frame', df1.sort_values(['Country/Region'], ascending=False).head(5))

In [ ]:
#Sort Data Frame - Ascending on "Country" & descending on "Last update"
display('Sorted Data Frame', df1.sort_values(['Country/Region', 'Last Update'], ascending=[1,0]).head(5))

In [ ]:
#Iterating through the dataset
for index , row in df1.iterrows():
    if (row['Country/Region'] == 'Indonesia' ):
        display(row[['Country/Region' ,'Confirmed']])

In [ ]:
#Unique Values
covid['Country/Region'].drop_duplicates(keep='first').head(10)

In [ ]:
# Countries impacted with Coronavirus
countries = covid['Country/Region'].unique()
type(countries) , countries

In [ ]:
df2 = pd.read_csv('Pokemon.csv')
df2.head(5)

In [ ]:
# Sum of Columns 
df2['Total'] = df2['HP'] + df2['Attack']
df2.head(5)

In [ ]:
# Sum of Columns 
df2['Total'] = df2.iloc[:,4:10].sum(axis=1)
df2.head(5)

In [ ]:
#Shifting "Total" column

cols = list(df2.columns)

df2 = df2[cols[0:10] + [cols[-1]] + cols[10:12]]
df2.head(5)

In [ ]:
#Shifting "Legendary" column -  Index location -1 or 12

cols = list(df2.columns)

df2 = df2[cols[0:10] + [cols[-1]] + cols[10:12]]
df2.head(5)

In [ ]:
#Shifting "Generation" column - Index location -1 or 12

cols = list(df2.columns)

df2 = df2[cols[0:10] + [cols[12]] + cols[10:12]]
df2.head(5)

In [ ]:
#Save to CSV file

df2.to_csv('poke_updated.csv')

In [ ]:
#Save to CSV file without index column

df2.to_csv('poke_updated1.csv', index=False)

In [ ]:
df2.head(10)

In [ ]:
# Save Dataframe as text file
df2.to_csv('poke.txt' , sep='\t' , index=False)

In [ ]:
# Save Dataframe as xlsx file
df2.to_excel('poke.xlsx')

In [ ]:
# Save Dataframe as xlsx file without row names
df2.to_excel('poke.xlsx', index=0)

In [ ]:
#Filtering using loc

df2.loc[df2['Type 2'] == 'Dragon']

In [ ]:
#Filtering using loc
df3 = df2.loc[(df2['Type 2'] == 'Dragon') & (df2['Type 1'] == 'Dark')]
df3

In [ ]:
#Reset index for Dataframe df3 keeping old index column

df4 = df3.reset_index()
df4

In [ ]:
#Reset index for Dataframe df3 removing old index column

df3.reset_index(drop=True , inplace=True)
df3

In [ ]:
df2.head(10)

# LIKE OPERATION IN PANDAS

In [ ]:
df2.Name.str.contains("rill").head(10)

In [ ]:
# Display all rows containing Name "rill"
df2.loc[df2.Name.str.contains("rill")]

In [ ]:
# Exclude all rows containing "rill"
df2.loc[~df2.Name.str.contains("rill")].head(10)

In [ ]:
#Display all rows with Type-1 as "Grass" and Type-2 as "Poison"

df2.loc[df2['Type 1'].str.contains("Grass") & df2['Type 2'].str.contains("Poison")]

In [ ]:
df2.loc[df2['Type 1'].str.contains('Grass|Water',regex = True)].head(10)

In [ ]:
# Due to Case-sensitive it will not return any data

df2.loc[df2['Type 1'].str.contains('grass|water',regex = True)].head(10)

In [ ]:
# To ignore case we can use "case = False"

df2.loc[df2['Type 1'].str.contains('grass|water', case = False ,regex = True)].head(10)

In [ ]:
# To ignore case we can use "Flags = re.I"

df2.loc[df2['Type 1'].str.contains('grass|water',flags = re.I ,regex = True)].head(10)

# Regex in Pandas dataframe

In [ ]:
#Get all rows with name starting with "wa"

df2.loc[df2.Name.str.contains('^Wa',flags = re.I ,regex = True)].head(10)

In [ ]:
#Get all rows with name starting with "wa" followed by any letter between a-l

df2.loc[df2.Name.str.contains('^Wa[a-l]+',flags = re.I ,regex = True)].head(10)

In [ ]:
#Get all rows with name starting with x , y, z

df2.loc[df2.Name.str.contains('^[x-z]',flags = re.I ,regex = True)]

In [ ]:
# Extracting first 3 characters from "Name" column
df2['Name2'] = df2.Name.str.extract(r'(^\w{3})')

In [ ]:
df2.head(5)

In [ ]:
# Return all rows with "Name" starting with character 'B or b' 
df2.loc[df2.Name.str.match(r'(^[B|b].*)')].head(5)

# Replace values in dataframe

In [ ]:
df2.head(10)

In [ ]:
df2['Type 1'] = df2['Type 1'].replace({"Grass" : "Meadow" , "Fire" :"Blaze"})

In [ ]:
df2.head(10)

In [ ]:
df2['Type 2'] = df2['Type 2'].replace({"Poison" : "Venom"})

In [ ]:
df2.head(5)

In [ ]:
df2['Type 2'] = df2['Type 2'].replace(['Venom' , 'Dragon'] , 'DANGER')

In [ ]:
df2.head(10)

In [ ]:
df2.loc[df2['Type 2'] == 'DANGER' , 'Name2'] = np.NaN

In [ ]:
df2.head(10)

In [ ]:
df2.loc[df2['Total'] > 400 , ['Name2' , 'Legendary']] = 'ALERT'
df2.head(10)

In [ ]:
df2.loc[df2['Total'] > 400 , ['Legendary' , 'Name2']] = ['ALERT-1' , 'ALERT-2'] 
df2.head(10)

# Group By

In [ ]:
df = pd.read_csv('poke_updated1.csv')
df.head(5)

In [ ]:
df.groupby(['Type 1']).mean().head(10)

In [ ]:
df.groupby(['Type 1']).mean().sort_values('Attack' , ascending = False).head(10)

In [ ]:
df.groupby(['Type 1']).mean().sort_values('Defense' , ascending = False).head(10)

In [ ]:
df.groupby(['Type 1']).mean().sort_values('Speed' , ascending = False).head(10)

In [ ]:
df.sum()

In [ ]:
df.groupby(['Type 2']).sum().head(5)

In [ ]:
df.count()

In [ ]:
df['count1'] = 0
df.groupby(['Type 2']).count()['count1']

In [ ]:
df['count1'] = 0
df.groupby(['Type 1']).count()['count1']

In [ ]:
df['count1'] = 0
df.groupby(['Type 1' , 'Type 2' , 'Legendary']).count()['count1']

# Loading Data in Chunks

In [ ]:
for df in pd.read_csv('poke_updated1.csv', chunksize=10):
    print(df)

In [ ]:
df

In [ ]:
df1 = pd.DataFrame()
for df in pd.read_csv('poke_updated1.csv', chunksize=10):
    df1 = pd.concat([df1 ,df])
df1.head(15)

# Stack & unstack in Pandas

In [ ]:
col = pd.MultiIndex.from_product([['2010','2015'],['Literacy' , 'GDP']])

data =([[80,7,88,6],[90,8,92,7],[89,7,91,8],[87,6,93,8]])

df6 = pd.DataFrame(data, index=['India','USA' , 'Russia' , 'China'], columns=col)
df6

In [ ]:
# Stack() Function stacks the columns to rows.
st_df = df6.stack()
st_df

In [ ]:
#Unstacks the row to columns
unst_df = st_df.unstack()
unst_df

In [ ]:
unst_df = unst_df.unstack()
unst_df

In [ ]:
unst_df = unst_df.unstack()
unst_df

# PIVOT Tables

In [ ]:
data = {
    'Country':['India','USA' , 'Russia' , 'China','India','USA' , 'Russia' , 'China','India','USA' , 'Russia' , 'China','India','USA' , 'Russia' , 'China'],
    'Year':['2010','2010','2010','2010' , '2010','2010','2010','2010','2015','2015','2015','2015','2015','2015','2015','2015'],
     
    'Literacy/GDP':['GDP' , 'GDP' , 'GDP' , 'GDP','Literacy' , 'Literacy', 'Literacy' , 'Literacy','GDP' , 'GDP','GDP' , 'GDP','Literacy' , 'Literacy','Literacy' , 'Literacy'],
   'Value':[7,8,7,6,80,90,89,87,6,7,8, 8, 88 , 92 , 91 ,93]}
 
df7 = pd.DataFrame(data,columns=['Country','Year','Literacy/GDP','Value'])
df7

In [ ]:
# Pivot table with SUM aggregation
pd.pivot_table(df7 , index= ['Year' , 'Literacy/GDP'] , aggfunc='sum')

In [ ]:
# Pivot table with MEAN aggregation
pd.pivot_table(df7 , index= ['Year' , 'Literacy/GDP'] , aggfunc='mean')

# Hierarchical indexing

In [ ]:
df7

In [ ]:
df8=df7.set_index(['Year', 'Literacy/GDP'])
df8

In [ ]:
df8.index

In [ ]:
df8.loc['2010']

In [ ]:
df8.loc[['2010']]

In [ ]:
df8.loc['2015','Literacy']

In [ ]:
df8.loc['2015','Literacy']

In [ ]:
df8=df7.set_index(['Year', 'Literacy/GDP' , 'Country'])
df8

### SWAP Columns in Hierarchical indexing

In [ ]:
df7

In [ ]:
df8=df7.set_index(['Year', 'Literacy/GDP'])
df8

In [ ]:
# Swaping the columns in Hierarchical index
df9 = df8.swaplevel('Year', 'Literacy/GDP')
df9

In [ ]:
# Swaping the columns in Hierarchical index
df9 = df9.swaplevel('Year', 'Literacy/GDP')
df9

# Crosstab in Pandas

In [ ]:
df7

In [ ]:
pd.crosstab(df7['Literacy/GDP'] , df7.Value , margins=True)

In [ ]:
# 2 way cross table
pd.crosstab(df7.Year , df7['Literacy/GDP'] , margins=True)

In [ ]:
# 3 way cross table
pd.crosstab([df7.Year , df7['Literacy/GDP']] , df7.Country, margins=True)

# Row & Column Bind

### Row Bind

In [ ]:
df8 = pd.DataFrame({'ID' :[1,2,3,4] ,  'Name' :['Asif' , 'Basit' , 'Ross' , 'John'] , 'Score' :[99 , 66 , 44 , 33]})
df8

In [ ]:
df9 = pd.DataFrame({'ID' :[5,6,7,8] ,  'Name' :['Michelle' , 'Ramiro' , 'Vignesh' , 'Damon'] , 'Score' :[78 , 54 , 77 , 87]})
df9

In [ ]:
# Row Bind with concat() function
pd.concat([df8 , df9])

In [ ]:
# Row Bind with append() function
df8.append(df9)

### Column Bind

In [ ]:
df10 = pd.DataFrame({'ID' :[1,2,3,4] , 'Name' :['Asif' , 'Basit' , 'Ross' , 'John']})
df10

In [ ]:
df11 = pd.DataFrame({'Age' :[20,30,35,40] , 'Score' :[99 , 66 , 44 , 33]})
df11

In [ ]:
pd.concat([df10,df11] , axis = 1)